# Auto detect text files and perform LF normalization
* text=auto

# Standard text files
*.php text
*.js text
*.css text
*.scss text
*.html text
*.md text
*.json text
*.yml text
*.yaml text
*.xml text
*.ini text
*.sh text eol=lf

# Explicitly declare binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
